.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index:1;
}

.nav__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav__item {
    color:$brand-color;
    display:inline-block;
    justify-content:left;
    font-size:$font-size-small;
    text-transform:Uppercase;
    font-weight:bold;
    padding:5px;
    border-style:solid;
    border-width:2px;
    width:auto;
    margin:auto;
    margin-top:$small-margin;
}
