---
layout: base
---

<div class="post grid container">

    <div class="grid__item post__item lg-w-1/2 sm-w-1/1 xs-w-1/1">
        <h1 class="post__title">Thés exceptionnelles</h1>
        <p>J’ai testé ces thés en mettant 1 à 2 grammes de thé pour 2 dl d’eau, de telle manière que le goût soit léger et sans amertume. </p>
        <p>La richesse en théine ou en acides aminés dépend de la variété, des conditions climatiques, des feuilles cueillies (bourgeons, premières feuilles, etc) et de la méthode de séchage. Mais la force du thé dépend du goût de chacun: on peut donc soit infuser plus longtemps, soit mettre plus de feuilles. </p>
        <p>Les thés bleu-vert et les thés vert provenant de vieux théiers nécessitent un rinçage initial de quelques secondes avant la première infusion.</p>
        <p>Gaiwan/Théière, température de l’eau, temps d’infusion, nombre d’infusions possible</p>

        {% for post in site.exceptionnels | sort: 'title' %}
            <a href=""><p class="post__lined">{{ post.title }}</p></a>
        {% endfor %}
    </div>

    <div class="grid__item post__item lg-w-1/2 sm-w-1/1 xs-w-1/1"></div>

    {% for post in site.exceptionnels | sort: 'title' %}
    {% cycle '<div class="grid__item lg-w-1/2 sm-w-1/1 xs-w-1/1"></div>', '' %}
    <div class="grid__item post__item lg-w-1/2 sm-w-1/1 xs-w-1/1">
        <h1 class="post__title">{{ post.title }}</h1>
        <p><b>Type | </b>{{ post.type }}</p>
        <p><b>Variété | </b>{{ post.variety }}</p>
        <p><b>Récolte | </b>{{ post.recolte }}</p>
        <p><b>Provenance | </b>{{ post.provenance }}</p>
        <p><b>Conservation | </b>{{ post.conservation }}</p>
        <p><b>Goût | </b>{{ post.gout }}</p>
        <p><b>Composition | </b>{{ post.composition }}</p>
        <p><b>Gaiwan, théière | </b>{{ post.gaiwan }}</p>

        {{ post.content }}

    </div>
    {% cycle '', '<div class="grid__item lg-w-1/2 sm-w-1/1 xs-w-1/1"></div>' %}
    {% endfor %}

</div>
