---
layout: base
---

{% assign matcha = site.matcha | sort: 'title' %}
<div class="post-list">
    <div class="post post--left lg-w-1/2">
        <h1 class="post__title">Thés Matcha</h1>
        {% for post in matcha %}
            <a href="#{{ post.slug }}"><p class="post__lined">{{ post.title }}</p></a>
        {% endfor %}
    </div>

    {% for post in matcha %}
        <div class="post {% cycle 'post--right', 'post--left' %} lg-w-1/2" id="{{ post.slug }}">
            <h1 class="post__title">{{ post.title }}</h1>
            <p><b>Type | </b>{{ post.type }}</p>
            <p><b>Récolte | </b>{{ post.recolte }}</p>
            <p><b>Provenance | </b>{{ post.provenance }}</p>
            <p><b>Conservation | </b>{{ post.conservation }}</p>
            <p><b>Goût | </b>{{ post.gout }}</p>
    

            {{ post.content }}
        </div>
    {% endfor %}
</div>
