---
layout: base
---

{% assign rooibos = site.rooibos | sort: 'title' %}
<div class="post-list">
    <div class="post post--left lg-w-1/2">
        <h1 class="post__title">Rooibos</h1>

        {% for post in rooibos %}
            <p><b>{{ post.title }} | </b>{{ post.grammes }} - {{ post.prix }}CHF.-</p>
            {{ post.content }}
        {% endfor %}
    </div>
</div>

{% assign infusion = site.infusion | sort: 'title' %}
<div class="post-list">
    <div class="post post--right lg-w-1/2">
        <h1 class="post__title">Infusion</h1>

        {% for post in infusion %}
            <p><b>{{ post.title }} | </b>{{ post.grammes }} - {{ post.prix }}CHF.-</p>
            {{ post.content }}
        {% endfor %}
    </div>
</div>
