---
layout: base
---
{% assign rooibos = site.rooibos | sort: 'title' %}
{% assign infusion = site.infusion | sort: 'title' %}
{% assign tisane = site.tisane | sort: 'title' %}
{% assign noirsparfumes = site.noirsparfumes | sort: 'title' %}
{% assign vertsparfumes = site.vertsparfumes | sort: 'title' %}
{% assign thesnoirs = site.thesnoirs | sort: 'title' %}
{% assign thesfumes = site.thesfumes | sort: 'title' %}
{% assign grandscrus = site.grandscrus | sort: 'title' %}
{% assign oolong = site.oolong | sort: 'title' %}

<div class="post-list">

    <div class="post lg-w-1/1" id="top">
        <h1 class="post__title">Nos thés</h1>
        <ul class="list-inline list-inline--divided">
        <li><a href="#rooibos">Rooibos</a></li>
        <li><a href="#infusion">infusion</a></li>
        <li><a href="#noirsparfumes">Thés noirs parfumés</a></li>
        <li><a href="#vertsparfumes">Thés verts parfumés</a></li>
        <li><a href="#thesnoirs">Thés noirs</a></li>
        <li><a href="#thesfumes">Thés fumés</a></li>
        <li><a href="#grandscrus">Les grands crus</a></li>
        <li><a href="#oolong">Thés Oolong</a></li>
        </ul>
    </div>

    <div class="post post--left lg-w-1/2" id="rooibos">
        <h1 class="post__title">Rooibos</h1>

        {% for post in rooibos %}
            <p><b>{{ post.title }} | </b>{{ post.grammes }} - {{ post.prix }}CHF.- <br>
            {{ post.content }}
            </p>
        {% endfor %}
        <a href="#top">&#9757;</a>
    </div>

    <div class="post post--right lg-w-1/2" id="infusion">
        <h1 class="post__title">Infusion</h1>

        {% for post in infusion %}
            <p><b>{{ post.title }} | </b>{{ post.grammes }} - {{ post.prix }}CHF.- <br>
            {{ post.content }}
            </p>
        {% endfor %}
        <a href="#top">&#9757;</a>
    </div>

    <div class="post post--right lg-w-1/2" id="noirsparfumes">
        <h1 class="post__title">Thés noirs parfumés</h1>
    
        {% for post in noirsparfumes %}
            <p><b>{{ post.title }} | </b>{{ post.grammes }} - {{ post.prix }}CHF.- <br>
            {{ post.content }}
            </p>
        {% endfor %}
        <a href="#top">&#9757;</a>
    </div>
    
    <div class="post post--left lg-w-1/2" id="vertsparfumes">
        <h1 class="post__title">Thés verts parfumés</h1>
    
        {% for post in vertsparfumes %}
            <p><b>{{ post.title }} | </b>{{ post.grammes }} - {{ post.prix }}CHF.- <br>
            {{ post.content }}
            </p>
        {% endfor %}
        <a href="#top">&#9757;</a>
    </div>

    <div class="post post--right lg-w-1/2" id="thesnoirs">
        <h1 class="post__title">Thés noirs</h1>
    
        {% for post in thesnoirs %}
            <p><b>{{ post.title }} | </b>{{ post.grammes }} - {{ post.prix }}CHF.- <br>
            {{ post.content }}
            </p>
        {% endfor %}
        <a href="#top">&#9757;</a>
    </div>
    
    <div class="post post--left lg-w-1/2" id="thesfumes">
        <h1 class="post__title">Thés fumés</h1>
    
        {% for post in thesfumes %}
            <p><b>{{ post.title }} | </b>{{ post.grammes }} - {{ post.prix }}CHF.- <br>
            {{ post.content }}
            </p>
        {% endfor %}
        <a href="#top">&#9757;</a>
    </div>

    <div class="post post--right lg-w-1/2" id="grandscrus">
        <h1 class="post__title">les grands crus</h1>
    
        {% for post in grandscrus %}
            <p><b>{{ post.title }} | </b>{{ post.grammes }} - {{ post.prix }}CHF.- <br>
            {{ post.content }}
            </p>
        {% endfor %}
        <a href="#top">&#9757;</a>
    </div>
    
    <div class="post post--left lg-w-1/2" id="oolong">
        <h1 class="post__title">Thés Oolong</h1>
    
        {% for post in oolong %}
            <p><b>{{ post.title }} | </b>{{ post.grammes }} - {{ post.prix }}CHF.- <br>
            {{ post.content }}
            </p>
        {% endfor %}
        <a href="#top">&#9757;</a>
    </div>

</div>
