---
layout: base
---

<div class="post grid container">
{% for image in site.static_files %}
    {% if image.path contains '/files/vaisselles' %}
    {% cycle '', '<div class="grid__item lg-w-1/2 sm-w-1/1 xs-w-1/1"></div>' %}
        <div class="grid__item post__item lg-w-1/2 sm-w-1/1 xs-w-1/1">
            <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
        </div>
        {% cycle '<div class="grid__item lg-w-1/2 sm-w-1/1 xs-w-1/1"></div>', '' %}
    {% endif %}
{% endfor %}
</div>
